<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This is an online course management tool that allows users to access their course information online, interact with fellows students 
  and posts relevant on issues they may not understand.
</p>